In [1]:
import re

In [3]:
tele_num = '1234567890'
m = re.match(pattern='\d\d\d\d\d\d\d\d\d\d', string=tele_num)
type(m)

re.Match

In [4]:
m

In [5]:
if m:
    print('match')
else:
    print('no match')

match

In [7]:
m.start()

0

In [8]:
m.end()

10

In [9]:
m.span()

(0, 10)

In [10]:
m.group()

'1234567890'

In [12]:
tele_num_spaces = '123 456 7890'
m = re.match(pattern='\d{10}', string=tele_num_spaces)
print(m)

None

In [13]:
p = '\d{3}\s?\d{3}\s?\d{4}'
m = re.match(pattern=p, string=tele_num_spaces)
m

In [14]:
m.group()

'123 456 7890'

In [16]:
cnty_tele_num_space_parse_dash = '+1 (123) 456-7890'
p = '\+?1\s?\(?\d{3}\)?\s?\d{3}\s?-?\d{4}'
m = re.match(pattern = p , string=cnty_tele_num_space_parse_dash)
m.group()

'+1 (123) 456-7890'

In [17]:
p = '\d+'
s = '13 Joddie Whittaker, war John Hurt, 12 Peter Capaldi, 11 Matt Smith, 10 David Tennant, 9 Christopher Eccleson'
m = re.findall(pattern=p, string=s)
m

['13', '12', '11', '10', '9']